@media (max-width:990px){

    #contact img {
      width: 50%;
    }
}
@media (max-width:768px){
  #showcase {
    min-height: 500px;
  }

  #showcase h1 {
    font-size: 4rem;
  }

  .mb-resp {
    margin-bottom: 1rem;
  }
}
